.swipper__wrapper {
  background-color: #091217;;
  background-image: url("../media/Slider (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  padding: 7rem 0;
}

.cont {
  background-color: green;
  width: 100%;
  height: 100%;
}

.swipper__wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swipper__wrapper .swiper {
 padding: 5rem 0 !important; 
  margin-left: auto !important;
  margin-right: auto !important;
}

.swipper__wrapper .swipper__content {
  display: flex;
}

.swipper__wrapper .swipper__text {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.swiper-button-next, .swiper-button-prev {
  width: 66px !important;
}

.swipper__wrapper .swipper__info {
  color: #3D5C6F;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.swipper__wrapper .swipper__info.active {
  background: linear-gradient(180deg, #3AF09D 4.71%, #47B482 61.96%, #10412B 108.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 2px solid #45AC7D !important;
    background-color: transparent !important;
    width: 40px !important;
    height: 40px !important;
    transition: transform .5s;
    transform: scale(1);
}

.swiper-pagination-bullet {
    background: #3D5C6F !important;
    width: 40px !important;
    height: 40px !important;
    transform: scale(0.4);
    transition: border .2s;
}

@media only screen and (min-width: 1025px) {
  .swipper__wrapper .swipper__text {
    max-width: 25rem;
  }

  .swipper__content {
    padding: 0 5rem;
    justify-content: space-between;
  }

  .swipper__image {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .swipper__content {
    text-align: center;
    padding: 0 5rem;
    flex-direction: column-reverse;
    gap: 5rem;
  }
}

@media only screen and (max-width: 767px) {
  .swipper__content {
    text-align: center;
    padding: 0 5rem;
    flex-direction: column-reverse;
    gap: 2rem;
  }
}