@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
.choose__wrapper .swiper {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.choose__wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: -webkit-filter 0.5s, -webkit-transform 0.9s;
  transition: -webkit-filter 0.5s, -webkit-transform 0.9s;
  -o-transition: filter 0.5s, transform 0.9s;
  transition: filter 0.5s, transform 0.9s;
  transition: filter 0.5s, transform 0.9s, -webkit-filter 0.5s, -webkit-transform 0.9s;
}
.choose__wrapper .swiper-slide-active {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.choose__wrapper .swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.choose__wrapper .swiper {
  margin-left: auto;
  margin-right: auto;
}
.choose__wrapper .swiper-slide > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.choose__wrapper .swiper-slide > div:first-of-type > div:first-of-type, .choose__wrapper .swiper-slide > div:first-of-type > div:last-of-type {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choose__wrapper .swiper-button-next {
  right: 10% !important;
}
.choose__wrapper .swiper-button-prev {
  left: 10% !important;
}
.choose__wrapper .swiper-slide h3 {
  color: #45AC7D;
  font-size: 35px;
  line-height: 42px;
  margin: 1rem 0;
}
.choose__wrapper .swiper-slide p {
  min-height: 7rem;
}
.choose__wrapper .swiper-slide span:first-of-type {
  margin: 1rem 0rem 0.7rem;
  color: #45AC7D;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
.choose__wrapper .swiper-slide span:last-of-type {
  color: #3D5C6F;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.choose__wrapper .swiper-slide div:last-of-type img {
  margin: 1rem 0;
}

.ellipses {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.choose__partner_content .swiper-button-next, .choose__partner_content .swiper-button-prev {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .choose__wrapper .swiper {
    margin-top: 5rem;
  }
  .choose__wrapper .swiper-slide > div:first-of-type {
    padding: 3rem 4.3rem 5rem;
    border-radius: 25px;
    background: #091217;
    width: 50% !important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .choose__wrapper .swiper {
    margin-top: 5rem;
  }
  .choose__wrapper .swiper-slide > div:first-of-type {
    padding: 3rem 4.3rem 5rem;
    border-radius: 25px;
    background: #091217;
    width: 60% !important;
  }
}
@media only screen and (max-width: 767px) {
  .choose__wrapper .swiper {
    margin-top: 2rem;
  }
  .choose__wrapper .swiper-slide > div:first-of-type {
    padding: 3rem 2rem 3rem;
    border-radius: 25px;
    background: #091217;
    width: 85% !important;
  }
}
.swipper__wrapper {
  background-color: #091217;
  background-image: url("../media/Slider (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swipper__wrapper h2 {
  margin-bottom: 1rem;
}

.cont {
  background-color: green;
  width: 100%;
  height: 100%;
}

.swipper__wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 12px;
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.swipper__wrapper .swiper {
  padding: 5rem 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.swipper__wrapper .swipper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.swipper__wrapper .swipper__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-button-next, .swiper-button-prev {
  width: 66px !important;
}

.swiper-button-next > path, .swiper-button-prev > path {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.swiper-button-next:hover > path, .swiper-button-prev:hover > path {
  fill: #45ac7d;
}

.swipper__wrapper .swipper__info {
  color: #3d5c6f;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.swipper__wrapper .swipper__info.active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4.71%, #3af09d), color-stop(61.96%, #47b482), color-stop(108.4%, #10412b));
  background: -o-linear-gradient(top, #3af09d 4.71%, #47b482 61.96%, #10412b 108.4%);
  background: linear-gradient(180deg, #3af09d 4.71%, #47b482 61.96%, #10412b 108.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.swiper-pagination-bullet {
  background: #3d5c6f !important;
  width: 40px !important;
  height: 40px !important;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 2px solid #45ac7d !important;
  background-color: transparent !important;
  width: 40px !important;
  height: 40px !important;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1025px) {
  .swipper__title {
    padding: 0 5rem;
  }
  .swipper__wrapper {
    padding: 7rem 0;
  }
  .swipper__wrapper .swipper__text {
    max-width: 25rem;
  }
  .swipper__content {
    padding: 0 5rem;
    gap: 13rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .swipper__image {
    width: 50%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .swipper__title {
    padding: 0 2rem;
  }
  .swipper__wrapper {
    padding: 5rem 0;
  }
  .swipper__content {
    text-align: center;
    padding: 0 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 5rem;
  }
}
@media only screen and (max-width: 767px) {
  .swipper__title {
    padding: 0 2rem;
  }
  .swipper__wrapper {
    padding: 3rem 0;
  }
  .swipper__content {
    text-align: center;
    padding: 0 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 2rem;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
*::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

html {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  scroll-behavior: smooth;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
}

li {
  cursor: pointer;
}

header a, header button {
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  max-width: 1680px;
  height: auto;
  margin: 0 auto;
}

.brand {
  font-family: inherit;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #3698af;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  text-transform: unset;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-darken {
  padding: 0.75rem 2rem;
  color: var(--color-white-100);
  background-color: var(--color-black-200);
  -webkit-box-shadow: var(--shadow-medium);
  box-shadow: var(--shadow-medium);
}

.btn-neutral {
  padding: 0.75rem 2rem;
  color: var(--color-black-500);
  background-color: var(--color-white-100);
  -webkit-box-shadow: var(--shadow-medium);
  box-shadow: var(--shadow-medium);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header.active {
  -webkit-box-shadow: var(--shadow-medium);
  box-shadow: var(--shadow-medium);
  background-color: var(--color-white-100);
}

.wrapper, .wrapper-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    -webkit-box-shadow: var(--shadow-medium);
    box-shadow: var(--shadow-medium);
    background-color: #091217;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar.active {
    left: 0rem;
    opacity: 1;
    visibility: visible;
  }
  .login {
    display: none;
  }
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo img {
  width: 130px;
}

.menu-item {
  position: relative;
  display: inline-block;
  margin-left: 2rem;
  font-weight: 700;
  font-size: 18px;
}

.menu-item-first {
  position: relative;
  display: inline-block;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 0.25rem;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  text-transform: uppercase;
  color: #f3f6f9;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-link.active {
  color: var(--color-black-500);
}
.menu-link > i.bx {
  font-size: 1.35rem;
  line-height: 1.5;
  color: inherit;
}
.menu-link:hover {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .menu {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
  .menu-item {
    display: block;
    margin: 0 auto;
  }
  .menu-link {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1.25rem;
    color: #97b1c0 !important;
  }
  .wrapper {
    padding: 2rem 2rem;
  }
  .logo {
    font-size: 18px;
  }
}
@media only screen and (min-width: 993px) {
  .navbar {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .logo {
    font-size: 25px;
  }
  .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login__button {
    border-radius: 16px;
    background-color: #091217;
  }
  .login__button button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    gap: 0.5rem;
    padding: 1rem 2rem;
  }
  .login-menu {
    display: none;
  }
  .wrapper {
    position: relative;
    padding: 2rem 5rem;
  }
}
.burger {
  position: relative;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1.75rem;
  height: 1rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border: none;
  outline: none;
  background: #f3f6f9;
}
.burger-line.active {
  background: var(--color-black-500);
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
}
.burger-line:nth-child(3) {
  top: 1rem;
}

@media only screen and (max-width: 992px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
}

@media only screen and (max-width: 992px) {
  .overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
h1, h2 {
  color: #97b1c0;
}

h3 {
  font-weight: 400;
  color: #000000;
}

p {
  color: #3d5c6f;
  font-weight: 400;
}

button {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

body {
  cursor: default;
  background-color: #091217;
}

.hero__wrapper {
  background-image: url("../media/Landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__content {
  max-width: 1680px;
  margin: auto;
}
.hero__content p {
  margin: 1rem 0 2rem;
}
.hero__content button {
  cursor: pointer;
  background-color: #45ac7d;
  padding: 1rem 3rem;
  line-height: 29px;
  color: #ffffff;
  border: none;
  border-radius: 16px;
}

.slider__wrapper {
  height: 100vh;
  background-image: url("../media/Slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stat__wrapper {
  background-color: #16232b;
}

.stat__content {
  max-width: 1680px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.stat {
  margin-top: 3rem;
  display: grid;
}
.stat > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.stat > div > span {
  font-weight: 400;
  font-size: 65px;
  line-height: 79px;
  color: #ffffff;
}
.stat > div > p {
  font-size: 22px;
}

.signup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.signup__text > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.signup__text > h3 {
  margin: 1rem 0;
}
.signup__text > p {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

.signup__button > button {
  border: none;
  background-color: #000000;
  padding: 1.5rem 3rem;
  border-radius: 16px;
  cursor: pointer;
  color: #45ac7d;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.companies__wrapper {
  background-color: #091217;
  overflow: hidden;
  position: relative;
}

.companies__content {
  text-align: center;
}

.companies__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.companies__line > span {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: ticker 40s linear infinite;
          animation: ticker 40s linear infinite;
}
.companies__line span > span {
  text-transform: uppercase;
  color: #45ac7d;
}

.choose__wrapper {
  background-image: url("../media/Landing (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.choose__tabs_wrapper {
  max-width: 1680px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose__tabs_content {
  margin: auto;
  text-align: center;
}

.choose__tab_img {
  z-index: 2;
  position: relative;
}
.choose__tab_img > video {
  margin: auto;
}

.choose__tabs_content img:last-of-type {
  z-index: 1;
  margin: auto;
  border-radius: 12px;
}
.choose__tabs_content img:first-of-type {
  z-index: -1;
}

.choose__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.choose__tab {
  cursor: pointer;
}
.choose__tab svg {
  margin-bottom: 1rem;
}
.choose__tab .fill {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.choose__tab_disc > span {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.choose__tabs .filled .fill {
  fill: #47b482;
}
.choose__tabs .choose__tab_disc > span {
  color: #3d5c6f;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.choose__tabs .filled .choose__tab_disc > span {
  color: #45ac7d;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.choose__partner_wrapper {
  padding-bottom: 5rem;
}

.choose__partner_content {
  text-align: center;
}
.choose__partner_content h1 {
  margin: 0 auto 0.5rem;
}

footer {
  position: relative;
  background-image: url("../media/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content section {
  width: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4.71%, #3af09d), color-stop(61.96%, #47b482), color-stop(108.4%, #10412b));
  background: -o-linear-gradient(top, #3af09d 4.71%, #47b482 61.96%, #10412b 108.4%);
  background: linear-gradient(180deg, #3af09d 4.71%, #47b482 61.96%, #10412b 108.4%);
  border-radius: 12px;
}
.footer__content section > div {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__content > span {
  font-size: 16px;
  line-height: 19px;
  color: #3d5c6f;
  font-weight: 400;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__logo span {
  margin-left: 0.5rem;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #3d5c6f;
}
.footer__logo img {
  width: 160px;
}

.footer__content > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 !important;
  gap: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #3d5c6f;
}
.footer__content > ul > a {
  color: #3d5c6f;
}

.modal {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal.show {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=1);
}

.modal-content {
  color: #729d9e;
  background-color: #101c24;
  border-radius: 25px;
  text-align: center;
  -webkit-box-shadow: 0px 16px 16px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 16px 16px -6px rgba(0, 0, 0, 0.5);
}
.modal-content h3 {
  color: #97b1c0;
  font-weight: 700;
}

.popup-close {
  position: absolute;
  color: #45ac7d;
  font-size: 34px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  gap: 3rem;
}
.modal-content form > input:first-of-type {
  outline: none;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 12px;
  background: #081015;
  color: #45ac7d;
}
.modal-content form > input:first-of-type::-webkit-input-placeholder {
  color: #97b1c0;
}
.modal-content form > input:first-of-type::-moz-placeholder {
  color: #97b1c0;
}
.modal-content form > input:first-of-type:-ms-input-placeholder {
  color: #97b1c0;
}
.modal-content form > input:first-of-type::-ms-input-placeholder {
  color: #97b1c0;
}
.modal-content form > input:first-of-type::placeholder {
  color: #97b1c0;
}

input:-internal-autofill-selected {
  background-color: red !important;
  color: blue !important;
}

.modal-content form > input:last-of-type {
  color: #fff;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  outline: none;
  border: none;
  background: #45ac7d;
  border-radius: 12px;
}

#form-thankyou {
  display: none;
}

#error {
  color: #bb6161;
}

.contact__wrapper {
  background-image: url(../media/logoipsum-269\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.contact__content > div {
  margin: 3rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #16232b;
  border-radius: 12px;
}
.contact__content > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__content > div > div:first-of-type {
  margin-bottom: 1rem;
}
.contact__content > div span:first-of-type > a {
  color: #45ac7d;
}
.contact__content > div span:last-of-type {
  color: #729d9e;
}
.contact__content > div > span:first-of-type {
  color: #45ac7d !important;
  margin-bottom: 1.5rem;
}
.contact__content > div svg {
  margin: 0.5rem auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem;
  border: solid 1px #729d9e;
  border-radius: 50%;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@media only screen and (min-width: 1025px) {
  h1, h2 {
    font-size: 65px;
    line-height: 79px;
  }
  h3 {
    font-size: 43px;
    line-height: 52px;
  }
  p {
    font-size: 24px;
    line-height: 29px;
  }
  .hero__wrapper {
    height: 100vh;
    padding: 0 7rem;
  }
  .hero__content button {
    font-size: 24px;
  }
  .mobile-login {
    display: none;
  }
  .stat {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .stat__content {
    padding: 7rem;
  }
  .companies__wrapper {
    padding: 5rem 0;
  }
  .companies__content {
    padding: 1rem 5rem 5rem;
  }
  .companies__line {
    width: 350%;
  }
  .companies__line span > span {
    font-size: 2.5rem;
  }
  .choose__tabs {
    margin: 7rem auto 4rem;
  }
  .choose__tab {
    width: 28%;
  }
  .choose__tabs_content {
    padding: 7rem;
  }
  .choose__tabs_content img:first-of-type {
    top: 100px;
  }
  .choose__partner_content h1 {
    width: 43rem;
  }
  .contact__content {
    padding: 7rem 0 20rem;
  }
  .contact__content > div {
    padding: 3rem;
  }
  .contact__content > div span:first-of-type, .contact__content > div span:last-of-type {
    font-size: 25px;
  }
  .signup__text {
    width: 50%;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 1.5rem 5rem 2rem;
  }
  .modal-content form > input:first-of-type {
    width: 25rem;
    font-size: 1.3rem;
  }
  .modal-content form > input:last-of-type {
    font-size: 1.3rem;
  }
  .popup-close {
    top: 1.5rem;
    right: 2rem;
  }
  footer {
    padding: 15rem 10rem 3rem;
  }
  .footer__content section {
    top: -250px;
    padding: 4rem;
  }
  .footer__logo span {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  h1, h2 {
    font-size: 55px;
    line-height: 69px;
  }
  h3 {
    font-size: 35px;
    line-height: 45px;
  }
  p {
    font-size: 20px;
    line-height: 25px;
  }
  .hero__wrapper {
    height: 100vh;
    padding: 0 5rem;
  }
  .hero__content button {
    font-size: 24px;
  }
  .hero__content > a:first-of-type {
    display: none;
  }
  .stat {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .stat__content {
    padding: 5rem;
  }
  .companies__wrapper {
    padding: 5rem 0;
  }
  .companies__content {
    padding: 1rem 5rem 5rem;
  }
  .companies__line {
    width: 400%;
  }
  .companies__line span > span {
    font-size: 2rem;
  }
  .choose__tabs {
    margin: 7rem auto 4rem;
  }
  .choose__tab {
    width: 33.33%;
  }
  .choose__tabs_content {
    padding: 5rem;
  }
  .choose__tabs_content img:first-of-type {
    top: 100px;
  }
  .contact__content {
    padding: 7rem 0 20rem;
  }
  .contact__content > div {
    padding: 3rem;
  }
  .contact__content > div span:first-of-type, .contact__content > div span:last-of-type {
    font-size: 25px;
  }
  .popup-close {
    top: 1.5rem;
    right: 2rem;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 1.5rem 5rem 2rem;
  }
  .modal-content form > input:first-of-type, .modal-content form > input:last-of-type {
    font-size: 1.3rem;
  }
  footer {
    padding: 15rem 10rem 3rem;
  }
  .footer__content section {
    top: -250px;
    padding: 5rem;
  }
  .footer__content section > div {
    gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo span {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 45px;
    line-height: 60px;
  }
  h2 {
    font-size: 45px;
    line-height: 60px;
    font-size: 30px;
    line-height: 40px;
  }
  p {
    font-size: 18px;
    line-height: 25px;
  }
  .hero__wrapper {
    min-height: 100vh;
    padding: 6rem 3rem 4rem;
  }
  .hero__content button {
    font-size: 18px;
  }
  .hero__content > a:first-of-type {
    display: none;
  }
  .stat {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .stat__content {
    padding: 3rem;
  }
  .companies__wrapper {
    padding: 2rem 0 3rem;
  }
  .companies__content {
    padding: 1rem 5rem 5rem;
  }
  .companies__line {
    width: 680%;
  }
  .companies__line span > span {
    font-size: 1.5rem;
  }
  .choose__tabs {
    margin: 1rem auto 4rem;
    gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose__tabs_content {
    padding: 3rem;
  }
  .choose__tabs_content img:first-of-type {
    top: 50px;
  }
  .contact__content {
    padding: 3rem 0 20rem;
  }
  .contact__content > div {
    width: 85%;
    padding: 2rem;
  }
  .contact__content > div span:first-of-type {
    font-size: 25px;
  }
  .contact__content > div span:last-of-type {
    font-size: 15.6px;
  }
  .modal-content {
    position: relative;
    margin: 40% auto;
    width: 80%;
    padding: 2rem 1rem 2rem;
  }
  .modal-content form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-content form > input:first-of-type, .modal-content form > input:last-of-type {
    font-size: 1rem;
  }
  .popup-close {
    top: 0rem;
    right: 0.8rem;
  }
  .footer__content section {
    top: -250px;
    padding: 2rem;
  }
  footer {
    padding: 17rem 3rem 5rem;
  }
  .footer__content section > div {
    gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo span {
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */